body {
  width: 100vw;
  padding: 10px;
}
#codeInput {
  line-height: 14px;
  resize: none;
  width: calc(100% - 20px);
  height: MAX(40vh, 300px) !important;
  width: 100%;
  font-family: monospace;
  font-size: 14pt;
  background-color: var(--md-sys-color-on-background);
  color: var(--md-sys-color-background);
  padding: 10px; /* Add some padding for better readability */
  resize: vertical !important;
  line-height: 1.5;
}
::placeholder {
  color: var(--md-sys-color-on-primary);
  opacity: 60%;
}
#output {
  width: calc(100% - 40px);
  position: relative;
  left: -20px;
  height: MAX(50px, 5vh);
  background-color: var(--md-sys-color-on-secondary);
  color: var(--md-sys-color-secondary);
  padding: 5px;
  font-weight: bold;
}

h1,
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
#UserOptionPannel button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}
