.playground-wrapper {
  display: flex;
  height: calc(100vh - 200px);
  width: 100vw;
}

button {
  background-color: var(--md-sys-color-on-primary-container);
  color: var(--md-sys-color-on-primary-container);
  border: 1px solid var(--md-sys-color-on-primary-container);
  margin-top: 10px;
}
.material-symbols-rounded {
     vertical-align: bottom;
}
.code-input-wrapper,
.code-output-wrapper {
  width: 100%;
  margin: 10px;
  padding: 20px;
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  background-color: #1d1d1d;
background-color: var(--md-sys-color-surface-container-low);
  color:var(--md-sys-color-on-surface-container-low);  line-height: 1.5rem;
  position: relative;
}
.code-input-wrapper {
  flex-grow: 3;
}
.code-input,
.code-output {
  width: 100%;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding-left: 0px;
  max-width: 80vw;
      font-variant-ligatures: none;
  

}
.code-input {
  height: calc(100% - 24px);
  min-width: 40vw;
}
.code-input:focus {
  outline: none;
  border: none;
}
textarea {
  resize: horizontal;
}
.test-code-button {
aspect-ratio: 1/1;  
right: calc(50% - calc(min(calc(100% - 30px), 150px) / 2) - 10px);
background-color: var(--accent-blue) !important;
border-radius:25%;

}


.test-code-button > span {
  font-size: 4rem !important;
}

h2 {
  margin-bottom: 15px; /* Add some space after headings */
}

